<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    <!-- Meta tags -->
    <title>Study Application Form a Simple Appointment form Responsive Widget :: w3layouts</title>
    <meta name="keywords" content="Study Application Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- stylesheets -->

    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/chart.js' %}"></script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="../from_Index">功能頁面</a></li>
                <li class="active"><a href="../hello">首頁</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div id="from1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h1>分類模式參數設定</h1>
                <form action="/Process" method="get">
                    <div class="form-group row">
                        <label for="Data1" class="col-sm-3 col-form-label">資料序號</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="index_col" id="index_col">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data1" class="col-sm-3 col-form-label">應變數數量</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="dep_k"id="dep_k">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Data1" class="col-sm-3 col-form-label">自變數數量</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="ind_k"id="ind_k">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data1" class="col-sm-3 col-form-label">隱藏層數目與各隱藏層神經元</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="hidden_units"id="hidden_units">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data2" class="col-sm-3 col-form-label">學習率</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" value="0.001"name="learning_rate"id="learning_rate" step="0.001">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data3" class="col-sm-3 col-form-label">網路名稱</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="network_name"id="network_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data4" class="col-sm-3 col-form-label">訓練批次大小</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control"name="batch" id="batch">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data5" class="col-sm-3 col-form-label">訓練循環</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control"name="max_step" id="max_step">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data6" class="col-sm-3 col-form-label">分類總類數目</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control"name="n_classes" id="n_classes">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="hidden" value="classify"name="type" class="form-control" id="type">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">送出</button>
                </form>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /hello -->
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>