<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>

    {% load staticfiles %}
    <!-- Meta tags -->
    <title>Study Application Form a Simple Appointment form Responsive Widget :: w3layouts</title>
    <meta name="keywords" content="Study Application Form Responsive widget, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- stylesheets -->

    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'js/chart.js' %}"></script>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="../from_Index">功能頁面</a></li>
                <li class="active"><a href="../pageA">表單A(建檔)</a></li>
                <li class="active"><a href="../pageB">表單B(建檔)</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div id="from1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h1>表單B(建檔)</h1>
                <form>
                    <div class="form-group row">
                        <label for="Data1" class="col-sm-2 col-form-label">Data1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data1" placeholder="Data1">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data2" class="col-sm-2 col-form-label">Data2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data2" placeholder="Data2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data3" class="col-sm-2 col-form-label">Data3</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data3" placeholder="Data3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data4" class="col-sm-2 col-form-label">Data4</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data4" placeholder="Data4">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data5" class="col-sm-2 col-form-label">Data5</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data5" placeholder="Data5">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data6" class="col-sm-2 col-form-label">Data6</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data6" placeholder="Data6">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data7" class="col-sm-2 col-form-label">Data7</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data7" placeholder="Data7">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Data8" class="col-sm-2 col-form-label">Data8</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data8" placeholder="Data8">
                        </div>
                    </div>
                                        <div class="form-group row">
                        <label for="Data9" class="col-sm-2 col-form-label">Data9</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data9" placeholder="Data9">
                        </div>
                    </div>
                                        <div class="form-group row">
                        <label for="Data10" class="col-sm-2 col-form-label">Data10</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="Data10" placeholder="Data10">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div><!-- /col-lg-8 -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /hello -->
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>